<section class="hero-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="text-center mb-5 pb-2">
                    <h1 class="text-white">Chào mừng đến với Art-Social</h1>

                    <p class="text-white">Thưởng thức và giao dịch sản phẩm thiết kế</p>

                    <a href="/list-tac-pham0" class="btn custom-btn smoothscroll mt-3">Cùng tìm hiểu nào!</a>
                </div>

                <div class="owl-carousel owl-theme">
                    @await Component.InvokeAsync("AuthorView")
                </div>
            </div>

        </div>
    </div>
</section>

@await Component.InvokeAsync("LastestProductView")


<section class="topics-section section-padding pb-0" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Thể loại</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Web/images/topics/physician-consulting-his-patient-clinic.jpg" class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="/list-tac-pham1">
                                Ấn phẩm trừu tượng
                            </a>
                        </h5>

                        <p class="badge mb-0">50 Episodes</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Web/images/topics/repairman-doing-air-conditioner-service.jpg" class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="/list-tac-pham6">
                                Thiết kế 3D
                            </a>
                        </h5>

                        <p class="badge mb-0">12 Episodes</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Web/images/topics/woman-practicing-yoga-mat-home.jpg" class="custom-block-image img-fluid" alt="">
                    </a>
                        
                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="/list-tac-pham5">
                                Thiết kế nữ tính
                            </a>
                        </h5>

                        <p class="badge mb-0">35 Episodes</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Web/images/topics/delicious-meal-with-sambal-arrangement.jpg" class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="/list-tac-pham3">
                                Logo - Banner - Poster
                            </a>
                        </h5>

                        <p class="badge mb-0">12 Episodes</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@await Component.InvokeAsync("RecentArtView")
