@model ArtSocial.Models.User
<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>Xoá người dùng</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Xác nhận xoá </h3>
        <input asp-for="UserID" type="hidden" />
        <label> Tên menu: </label>
        <input asp-for="UserName" disabled />

        <form method="post" asp-action="Delete">
            <input asp-for="UserID" type="hidden" />
            <button type="submit"> OK </button>
        </form>



    </div>
</div>