@model Post
@{
    Layout = null;
}
<form method="post" enctype="multipart/form-data" asp-action="Create">
    <input type="file" id="image" name="image" />
    <button type="submit">Create</button>
</form>

