@using ArtSocial.Models;
@{

}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">

                <h2 class="mb-0">Tài khoản của tôi</h2>
            </div>

        </div>
    </div>
</header>
<section class="section-padding" id="section_2">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-5 col-12 pe-lg-5">
                <div class="contact-info">
                    <h3 class="mb-4">Họ tên người dùng:</h3>
                    <h3 class="mb-4" style="color:#0878CE">- @Model?.FullName</h3>

                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Mô tả:</strong>

                        <span>@Html.Raw(@Model?.MoTa)</span>
                    </p>
                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Tên người dùng:</strong>

                        <span>@Model?.UserName</span>
                    </p>
                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Ví:</strong>
                        <a href="#">@Model?.Wallet vnđ</a>
                    </p>

                    <p class="d-flex">
                        <strong class="d-inline me-4">Chức vụ:</strong>
                        @if (Model?.isAdmin == false)
                        {

                            <span>Thành viên</span>

                        }
                        else
                        {

                            <span>Admin</span>

                        }
                    </p>
                </div>
            </div>

            <div class="col-lg-5 col-12 mt-5 mt-lg-0">
                @* <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.819917806043!2d103.84793601429608!3d1.281807962148459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190c2c94ccb3%3A0x11213560829baa05!2sTwitter!5e0!3m2!1sen!2smy!4v1669212183861!5m2!1sen!2smy" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
                <img src="~/@Model.AvatarPath" width="100%" height="675px" />
            </div>

        </div>
    </div>
</section>
