@model ArtSocial.Models.MyCart


<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">

                <h2 class="mb-0">Xác nhận xoá sản phẩm trong giỏ hàng</h2>
            </div>

        </div>
    </div>
</header>
<section class="contact-section section-padding pt-0">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Xác nhận xoá</h4>
                </div>
                <label> Tên art: </label>
                <input asp-for="CartID" disabled />

                <form method="post" asp-action="DeleteonCart" asp-controller="MyCart">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            @*    <label asp-for="ArtID" for="floatingInput">ID tác phẩm: </label>*@
                            <input type="text" asp-for="CartID" name="CartID" id="full-name" class="form-control" placeholder="Full Name" required="" hidden>
                            <div class="col-lg-4 col-12 ms-auto">
                                <button type="submit" class="form-control">Submit</button>
                            </div>

                        </div>
                </form>
            </div>

        </div>
    </div>
</section>